.form__button-save {
  width: 358px;
  padding: 14px 0 18px 0;
  margin-bottom: 37px;
  margin-top: 37px;
  border: 0;
  border-radius: 2px;
}

.form__button-save:hover {
  opacity: 0.8;
}


@media screen and (max-width: 515px) {
  .form__button-save {
    width: 232px;
    margin-bottom: 25px;

    padding-bottom: 14px;
  }
}