.card__heart {
  width: 22px;
  height: 19px;
  align-self: center;
  background-color: transparent;
  border: 0;

  background-image: url(../../../images/heart.png);
}


.card__heart:hover {
  opacity: 0.5;
}