.profile__button-add {
  width: 150px;
  min-height: 50px;
  margin-left: auto;

  border: 0px solid #FFFFFF;
  border-radius: 2px;

  background-image: url(../../../images/add-button.png);
  background-color: black;
}

.profile__button-add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 710px) {
  .profile__button-add {
    width: 282px;

    background-image: url(../../../images/add-button2.png);
  }
}